<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Demo</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
      localStorage.setItem("token", "{{token}}");
    </script>
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1 id="heading">XSS Attack Demonstration</h1>
      <p>Read the article, comment on it and search comments!</p>
    </header>

    <div>
      <h3>The Guardian: "Thousands call for ‘climate reparations and justice’ in global protests"</h3>
      <p> Thousands of young people have staged a coordinated “global climate strike” across Asia, Africa and Europe in a call for reparations for those worst affected by climate breakdown.
          From New Zealand and Japan to Germany and the Democratic Republic of Congo, activists walked out of schools, universities and jobs to demand rich countries pay for the damage global heating is inflicting on the poor.
          In the latest day of action by the Fridays For Future movement, strikes “for climate reparations and justice” were planned in about 450 locations worldwide.
          The protests take place six weeks before the Cop27 climate summit, where developing countries plan to push for compensation for climate-related destruction to homes, infrastructure and livelihoods.
          Recent months have seen deadly floods engulfing large parts of Pakistan, wildfires ravaging north Africa, Europe and North America, and record-breaking heatwaves in Britain and India.
          “We’re striking all over the world because the governments in charge are still doing too little for climate justice,” said Darya Sotoodeh, a spokesperson for the group’s chapter in Germany.
      </p>
    </div>

    <!-- Search form -->
    <form method="GET">
      <input type="text" name="q"
             placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    <!-- Comments -->
    {% if not search_query %}
      <h3>Showing all comments:</h3>
    {% else %}
      <h3>Showing comments containing "{{ search_query }}":</h3>
    {% endif %}

    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}

    <!-- Write form -->
    <form action="/" method="POST">
      <input type="text" name="comment"
             placeholder="Comment" autocomplete="off" />
      <input type="submit" value="Submit new comment" />
    </form>

  </body>
</html>
{% endautoescape %}